/* 기존 스타일 유지 */

/* 기타 div에도 너비를 100%로 설정 */
.delete-confirmation {
    width: 75%;
}

.h1_update {
    text-align: center;
}

/* form 스타일 수정 */
.form_update {
    display: flex;
    flex-direction: column;
    align-items: center; /* 추가: 폼 요소들을 중앙으로 정렬 */
}

.label-container_update {
    display: flex; /* 라벨과 인풋을 같은 줄에 위치시키기 위해 플렉스 박스로 설정 */
    align-items: center; /* 세로 방향 가운데 정렬 */
    justify-content: space-between; /* 가로 방향으로 각 요소 사이의 공간을 최대로 설정 */
}

.label_update {
    margin-bottom: 5px;
    text-align: left; /* 추가: label의 텍스트를 왼쪽 정렬 */
}

.input-container_update {
    width: calc(100% - 130px); /* 라벨의 너비를 고려하여 인풋의 너비를 설정 */
}

.input_update {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 100%; 
    box-sizing: border-box;
}
.input_update:hover{
    border: solid 1px rgb(0, 0, 0);
}

.button-container_update {
    display: flex;
    justify-content: space-between; /* 버튼을 좌우로 최대한 펼쳐서 배치 */
    width: calc(100% - 130px); /* input-container의 padding이 20px 이므로 전체 너비에서 40px을 빼줍니다. */
}


.button_update {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
    width: 30%; /* 3개 버튼이므로 30%로 설정 */
    box-sizing: border-box;
    margin-right: 2%; /* [확인] 버튼과 [취소] 버튼 사이의 간격 조절 */
}

.button:last-child_update {
    margin-right: 0; /* 마지막 버튼의 오른쪽 간격 제거 */
}


.button_update:hover {
    border: solid 1px rgb(0, 0, 0);
}

.error-message {
    color: red;
    margin-top: 5px;
    text-align: center; /* 추가: 에러 메시지를 중앙 정렬 */
}


