.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal_content {
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    width: 90%;
    max-width: 700px;
    max-height: 90vh;
    /* 모달의 최대 높이를 설정 */
    overflow-y: auto;
    /* 콘텐츠가 오버플로우될 경우 스크롤 추가 */
}

.Card_missingInfo {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_info_container {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Card_imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
}

.Card_missingInfo_title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.Card_missingInfo_detail div:first-child {
    font-weight: bold;
}

.Card_missingInfo_details {
    width: 100%;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 10px 0 10px; /* 상, 우, 하, 좌 */
}

.Card_missingInfo_detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;

}

.Card_missingInfo_detail div {
    width: 100%;
}

.Card_missingInfo_details div:last-child {
    border-bottom: none;
    /* 마지막 div의 하단 테두리 제거 */
}

.card_img_container {
    height: 100%;
}

.card_img {
    width: 300px;
    height: 300px;
    margin: 0 10px;
}

.card_img img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.modal_close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.modal_close-btn img {
    width: 24px;
    height: 24px;
}

.Card_modal {
    text-align: center;
}

.Card_modal figcaption {
    width: 100%;
    background-color: #00000000;
    padding: 25px;
    position: relative;
    color: #000000;
}

.Card_modal figcaption a {
    padding: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.Card_modal figcaption a:hover {
    opacity: 1;
}

.Card_modal .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 25px;
    z-index: 1;
    max-width: 90px;
    opacity: 1;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.123);
}

.Card_modal h2 {
    margin: 0 0 5px;
    font-weight: 300;
}

.Card_modal h2 span {
    display: block;
    font-size: 0.5em;
    color: #2980b9;
}

.Card_modal p {
    margin: 0 0 10px;
    font-size: 0.8em;
    letter-spacing: 1px;
    opacity: 0.8;
}

.missing_report_form {
    display: flex;
}

.missing_report {
    width: 100%;
    margin-top: 20px;
}

.missing_report_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.missing_report_form>div {
    flex: 1;
}


.missing_report_form input {
    /*자영(240612) input태그 실종자등록페이지 걸로 가져왔음요*/
    width: 100%;
    padding: 5px;
    /* border: 1px solid #ccc;
    border-radius: 5px; */


    /* width: 95%; */
    height: 40px;
    font-size: 15px;
    border-radius: 50px;
    border: solid 1px rgb(213, 213, 213);
    outline: none;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
}



.missing_report_form input:hover {
    /*자영(240612) input태그 실종자등록페이지 걸로 가져왔음요*/
    background: #f7f7f7;
    /*마우스 가져다댔을 때 테두리 */
}

.button-group {
    width: 100%;
}

.button-group .follow {
    width: 100%;
    font-size: 100%;
    color: #000000;
    /*글자색 */
    background: #ffffff;
    /*안 눌렀을 때 배경 색 */
    /* width: 90px; */
    height: 40px;
    border-radius: 50px;
    border: solid 1px rgb(213, 213, 213);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;

}

.button-group .follow:hover {
    border: solid 1px rgb(0, 0, 0);
    /*마우스 가져다댔을 때 테두리 */
}


.missing_report_form div:first-child {
    flex: 0.3;
    font-weight: bold;
}

.missing_report hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.missing_report button {
    /*자영(240612) 제보하기 , 접기 버튼 모양 수정*/
    width: calc(50%);
    font-size: 90%;
    color: #000000;
    /*글자색 */
    background: #ffffff;
    /*안 눌렀을 때 배경 색 */
    height: 40px;
    border-radius: 50px;
    border: solid 1px rgb(213, 213, 213);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;

}

.missing_report button:hover {
    border: solid 1px rgb(0, 0, 0);
    /*마우스 가져다댔을 때 테두리 */
}