.Mypage_capture_all_title{
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 0.3rem;
    margin-bottom: 10px;
}

.Mypage_capture_all_grid{
    display: grid;
    padding: 0.3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #ccc;;
}

.Mypage_capture_all_grid_item{
    border: 1px solid #ccc;
    border-radius: 10px;
}   