.Mypage_container {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 20px 60px var(--aura);
    min-width: 17.5rem;
    max-width: 50.25rem;
    width: 100%;
    padding: 1rem;
    height: 600px;

}

.Mypage_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Mypage_userinfo {
    width: 50%;
}

.Mypage_content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* 모든 container의 너비를 100%로 설정 */
    min-height: 100%;
}
