   Flask
   Flask-Bcrypt
   Flask-JWT-Extended
   PyMySQL
   openai
   python-dotenv
   requests
   flask-cors
   apscheduler
   schedule
   bcrypt
   boto3
   matplotlib
   asyncio
   aiohttp
   
# cd back
# pip install -r requirements.txt

