.avatar_setting {

  position: relative; /* 상대적 위치 설정 */
  z-index: 1; /* 다른 요소들보다 앞에 위치 */
  width: 200px;
  border: solid 1px black;
}

.img_avatar_top_long,.img_avatar_top_short, .img_avatar_bottom_long, .img_avatar_bottom_short, .img_avatar_bottom_skirt, .img_avatar_belonging {
  position: absolute;
 /* 아바타 이미지의 중간 지점보다 아래로 */
}


.img_avatar_top_long {
  top: 19.2rem; /* 아바타 이미지의 중간 지점보다 아래로 */
  left: 0.6rem;
  transform: translateY(-50%); /* 겹치는 정도 조절 */
  z-index: 2;
  width: 11.5rem;

}

.img_avatar_top_short {
  top: 19.2rem; /* 아바타 이미지의 중간 지점보다 아래로 */
  left: 2rem;
  transform: translateY(-50%); /* 겹치는 정도 조절 */
  z-index: 2;
  width: 8.7rem;
}

.img_avatar_bottom_long {
  top: 26.5rem; /* 아바타 이미지의 중간 지점보다 아래로 */
  left: 2.9rem;
  transform: translateY(-50%); /* 겹치는 정도 조절 */
  z-index: 2;
  width: 6.7rem;
}

.img_avatar_bottom_short {
  top: 24rem; /* 아바타 이미지의 중간 지점보다 아래로 */
  left: 3.1rem;
  transform: translateY(-50%); /* 겹치는 정도 조절 */
  z-index: 2;
  width: 6.5rem;
}

.img_avatar_bottom_skirt {
  top: 24.5rem; /* 아바타 이미지의 중간 지점보다 아래로 */
  left: 3.2rem;
  transform: translateY(-50%); /* 겹치는 정도 조절 */
  z-index: 2;
  width: 6.2rem;
}

.img_avatar_belonging{
  width: 20%;
}




