
.searchBar{
    border-radius: 50px;
    background-color: rgb(255, 255, 255);

}

/*4가지 항목들 기본 상태*/
.search_bar_btn{
    border-radius: 50px; /* 픽셀(px)로 지정 */
    margin: 1%;
    padding: 10px;
    background-color: #ffffff;

}

/*4가지 항목들 마우스 가져다 대면 바뀌는 디자인 */
.search_bar_btn:hover{
    border-radius: 50px; /* 픽셀(px)로 지정 */
    margin: 1%;
    padding: 10px;
    background-color: #EBEBEB;
}


.search_bar_btn:checked{
    border-radius: 20px; /* 픽셀(px)로 지정 */
    margin: 1%;
    padding: 10px;
    background-color: #EBEBEB;
}



.search_missing_radio_btn{
    border-radius: 20px; /* 픽셀(px)로 지정 */

}


.search_missing_radio_btn :hover{
    border-radius: 10px; /* 픽셀(px)로 지정 */
    background-color: aqua;

}



