/*자영(240529) : 검색기능 css*/


/* 검색바 부분 */
.search_missing{
    
    background-color: rgb(230, 104, 255);
    border-radius: 10%;
    display: grid;
    flex-wrap: wrap;
    margin: 0 auto;

    justify-content: space-between;
    max-width: 70%;
    max-height: 10%;
    position :relative;

 

}

.search_missing_submit_btn{
    border-radius: 50%; /* 픽셀(px)로 지정 */
    margin: 1%;
    padding: 10px;
    width: 50px;
    height: 50px;
    align-items: center;
    
    
    }
}




/* 각 항목 안의 내용 */
.search_missing_cate_content{
   margin: 5%;
   border-radius: 0.5rem;
}

