.admin_main {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .admin_main table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .admin_main th, .admin_main td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .admin_main th {
    background-color: #f2f2f2;
  }
  #page-numbers {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
}

.admin_main #page-numbers li {
    margin: 0 5px;
    cursor: pointer;
}

.admin_main #page-numbers li.active {
    font-weight: bold;
    color: red;
}
