.Mypage_userinfo_all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Mypage_userinfo_all {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* 모든 container의 너비를 100%로 설정 */
}

.Mypage_userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Mypage_userinfo_icon {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.Mypage_userinfo_icon>div>img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.Mypage_userinfo_icon img:hover{
    background-color: rgba(0, 0, 255, 0.171);
    cursor: pointer;
}

.My_missingList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userinfo_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;

}

.Mypage_userinfo_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    height: 20px;
}

.My_missingList_title {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.My_missingList {
    width: 100%;
    height: 100%;
}

.My_missingList_items {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    height: 250px;
    /* 예시로 300px을 설정했습니다. 필요에 따라 조정하세요. */
    overflow-y: auto;
    /* 세로 스크롤만 적용 */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.My_missingList_item {
    margin: 5px;
    text-align: center;
    border-radius: 20px;
}
.My_missingList_item:hover {
    background-color: #f2f2f2; /* 호버 시 배경색 변경 */
    cursor: pointer; /* 마우스 오버 시 커서 모양을 포인터로 변경 */
}


.My_missingList_item button {
    height: 100%;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: rgba(0, 0, 255, 0.068);
    margin-left: 10px;
}
.My_missingList_item button:hover{
    background-color: rgba(0, 0, 255, 0.151);
}