@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.all_header {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: white;
}

.header_class {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__wrapper {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    gap: 1.5rem;
    width: 100%;
    max-width: 60rem;
    padding: 0px 1rem;
    align-items: center;
}

.menu__bar {
    display: flex;
    align-items: center;
}

.logo_nev {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo_nev img {
    height: 3rem;
}

.logo_nev img:hover {
    transform: rotate(360deg);
    transition: transform 0.2s ease-in-out;
}

.navigation {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0%;
    padding-left: 0%;
}


.navigation>li,
.admin_button>li {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    min-height: 2.25rem;
}

.navigation>li>a,
.admin_button>li>a {
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.navigation>li>a:hover,
.admin_button>li>a:hover {
    color: #333333b0;
}

@keyframes shake {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }
}

.alarm_imgOn {
    width: 25px;
    height: 25px;
    animation: shake 0.3s ease infinite;
}

.alarm_imgOff {
    width: 25px;
    height: 25px;
}


.navigation>li>button,
.admin_button>li>button {
    color: black;
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    margin-right: -0.25rem;
    align-items: center;
    min-height: 2.25rem;
    font-size: 18px;
    gap: 0.25rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: nowrap;
    padding: 0.25rem 0.7rem;
    white-space: nowrap;
    background: none;
    display: flex;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.navigation>li>button>svg,
.admin_button>li>button>svg {
    margin-top: 2px;
    fill: rgb(255, 0, 0);
    transition: all 0.2s ease-in-out;
}

*/ .navigation>li:hover>button svg,
.admin_button>li:hover>button svg {
    fill: #8276ec00;
    transform: rotate(0.5turn);
}

.navigation>li:hover>button,
.admin_button>li:hover>button {
    color: #444444b0;
}

.navigation>li:hover .dropdown,
.admin_button>li:hover .dropdown {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.99) translateY(-0.7em);
        transform-origin: top;
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/* dropdown menu */
.dropdown__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 3rem;
}

.dropdown {
    border-radius: 0.5rem;
    display: none;
    padding: 0.5rem;
    width: 100%;
    max-width: 600px;
    z-index: 2;
    animation: fadeIn 0.2s ease-in-out;
    background-color: #50505093;
}

.list-items-with-description {
    list-style-type: none;
    width: 100%;
    gap: 2rem;
    padding: 0.5rem;
}

.list-items-with-description li {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.list-items-with-description li:hover {
    background-color: #d1d1d1;
    border-radius: 0.3rem;
}

.list-items-with-description li:hover svg {
    color: rgb(255, 255, 255);
}

.list-items-with-description li .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    pointer-events: all;
    background-color: #232323;
}
.icon-wrapper img{
    width: 100%;
    height: 100%;
}

.item-title {
    gap: 0.5rem;
}

.item-title h3 {
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.list-items-with-description li:hover .item-title p {
    color: #000000;
}

.list-items-with-description li:hover .item-title h3 {
    color: #000000;
    /* 원하는 색상 코드로 변경 */
}

.item-title p {
    font-size: 12px;
    white-space: nowrap;
    color: #ffffff;
}

/* login sign-up buttons */

.action-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: nowrap;
}

.action-buttons a {
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
    padding: 4px 8px;
    transition: all 0.3s ease-in-out;
    font-weight: bold
}


.secondary {
    background: #ffffff;
    color: var(--cigGrey);
    outline: none;
    border-radius: 0.5rem;
}

.secondary:hover {
    color: var(--textBlack);
}

.primary {
    text-decoration: none;
    font-size: 20px;
    white-space: nowrap;
    padding: 4px 8px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    background: #ffffff;
    color: var(--cigGrey);
    outline: none;
    border-radius: 0.5rem;
    border: none;
}

.primary:hover {
    color: var(--textBlack);
}

.burger-menu {
    display: none;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

@media (max-width: 44rem) {
    .nevbar_hide {
        display: none;
    }

    .burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        padding: 0.5rem;
        height: 2.5rem;
        width: 2.5rem;
        min-width: 2.5rem;
        min-height: 2.5rem;
        pointer-events: all;
    }

    .burger-menu:hover {
        background-color: #232323;
    }

    .burger-menu:focus {
        outline: 1px solid #8276ec00;
    }

    .burger-menu svg {
        height: 1.5rem;
        stroke: #7E7E7E;
        width: 1.5rem;
    }
}

.Mypage_modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    /* 상단에서 50% 위치 */
    left: 50%;
    /* 좌측에서 50% 위치 */
    transform: translate(-50%, -50%);
    /* X축과 Y축을 각각 50%만큼 이동하여 중앙 정렬 */
    z-index: 1000;
}


.noti_div {
    position: fixed;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    border-radius: 8px;
}

.noti_div div {
    font-size: 16px;
    color: #333;
}

.noti_div a {
    display: inline-block;
    padding: 10px 10px;
    color: blue;
    text-decoration: none;
    text-align: end;
}