.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.modal-content {
    background-color: rgba(0, 0, 0, 0.5); /* 불투명한 회색 */
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    
}


.notification-container {
    color: black; /* 기본 글자색을 검정색으로 설정 */
}

.notification {
    margin-bottom: 10px; /* 아래쪽 마진을 추가합니다 */
    padding: 10px; /* 패딩을 추가합니다 */
    border: 1px solid #ddd; /* 테두리를 추가합니다 */
    border-radius: 4px; /* 모서리를 둥글게 설정합니다 */
    background-color: #ffffff; /* 배경색을 설정합니다 */
}
.notification-gray {
    opacity: 0.5;
}
.notification-content-gray-text {
    color: #999 /* 회색 글자색 */
}


.notification-header {
    text-align: center;
    margin-bottom: 10px;
}

.notification-content {
    padding-left: 10px;
    
}

.notification img {
    vertical-align: middle; /* 이미지 중앙 정렬 */
}